<!-- bootstrap version -->
<div class="container padded">
  <div class="row text-center">

    <%= render 'shared/deputy_modal' %>

  </div>
</div>
<!-- bootstrap version -->

<div class="container">
  <div class="navigation hidden-xs">
    <%= link_to 'Back', :back, class: 'btn navigation-btn' %>
  </div>
  <div class="navigation hidden-xs">
    <%= link_to deputy_path(@previous_id, search: params[:search]), class: 'btn navigation-btn' do %>
      <i class="fa fa-arrow-left"></i>
      <%= "#{@previous_id.civ} #{@previous_id.firstname} #{@previous_id.lastname}" %>
    <% end %>
    <%= link_to root_path, class: 'btn navigation-btn navigation-btn-lg' do %>
      <i class="fa fa-university"></i>
    <% end %>
    <%= link_to deputy_path(@next_id, search: params[:search]), class: 'btn navigation-btn' do %>
      <%= "#{@next_id.civ} #{@next_id.firstname} #{@next_id.lastname}" %>
      <i class="fa fa-arrow-right"></i>
    <% end %>
  </div>
  <div class="profile-page">
    <%= image_tag "http://www2.assemblee-nationale.fr/static/tribun/14/photos/#{@deputy.original_tag[2..-1]}.jpg" %>
    <h1>
      <%= "#{@deputy.civ} #{@deputy.firstname} #{@deputy.lastname}" %>
    </h1>
    <p>
      <%= @deputy.group.sigle %>
    </p>
    <p>
      <% if @deputy.screen_name.length == 0 %>
        No Twitter account
      <% else %>
        <%= link_to "@#{@deputy.screen_name}", "https://twitter.com/#{@deputy.screen_name}", target: "_blank" %>
      <% end %>
    </p>
    <p>
      Born on <%= @deputy.birthday.strftime("%B the #{@deputy.birthday.day.ordinalize}, %Y") %> in the department of <%= @deputy.birthdep %>
    </p>
    <p>
      <%= "#{@circo.circo_num.ordinalize} circonscription of #{@circo.department} (#{@circo.department_num})" %>
    </p>
    <p>
      <%= "Elected in #{@mandate.starting_date.strftime('%B %Y')} (#{@mandate.reason})" %>
    </p>
    <p>
      <%= "Seat ##{@mandate.seat_num}" %>
    </p>
    <p>
      <%= "Job: #{@deputy.job.label} (#{@deputy.job.category} | #{@deputy.job.family}" %>)
    </p>
    <p>
      <%= link_to 'HATPV declaration', @mandate.hatvp_page, target: '_blank' %>
    </p>
    <h3>Addresses</h3>
    <% @deputy.addresses.order(:label).each do |address| %>
      <% if address.label == 'NR' %>
        <h4>
          No associated address
        </h4>
      <% else %>
        <h4>
          <%= address.label %>: <%= address.description %>
        </h4>
        <p>
          <%= address.value %>
        </p>
        <% unless address.more_info.nil? %>
          <p>
            <%= address.more_info %>
          </p>
        <% end %>
        <p>
          <%= address.postcode %> <%= address.city %>
        </p>
      <% end %>
      <% unless address.phones.empty? %>
        <% address.phones.each do |e| %>
          <p>
            <%= "#{e.label}: #{e.value}" %>
          </p>
        <% end %>
      <% end %>
    <% end %>
    <h3>E Coordinates</h3>
    <% unless @deputy.e_addresses.empty? %>
      <% @deputy.e_addresses.order(:label).each do |e| %>
        <p>
          <%= e.label %>: <%= e.value %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
