<div class="tartan-card cover-position">

  <!-- square top left -->
  <%= link_to deputies_path(search: { ini: @deputy.lastname[0] }), class: 'tartan-element bg-dark-blue' do %>
    <h3>
      <%= @deputy.lastname[0].capitalize %>
    </h3>
  <% end %>
  <!-- square top left -->

  <!-- square top right -->
  <%= link_to '', deputy_path(@deputy, search: params[:search]), class: 'tartan-element tartan-picture', style: "background-image: url('http://www2.assemblee-nationale.fr/static/tribun/14/photos/#{@deputy.original_tag[2..-1]}.jpg')" %>
  <!-- square top right -->

  <!-- rectangle bottom (wdouble) -->
  <%= link_to deputies_path(search: { grp: @deputy.group.sigle }), class: 'tartan-element tartan-element-wdouble bg-red' do %>
    <h3>
      <%= @deputy.group.sigle %>
    </h3>
  <% end %>
  <!-- rectangle bottom (wdouble) -->

</div>
