<div class="tartan-card cover-position tartan-card-column-direction">

  <!-- rectangle left (hdouble) -->
  <%= link_to "https://www.google.fr/maps/place/#{@address.value} #{@address.city}", target: '_blank', class: "tartan-element tartan-element-hdouble bg-red" do %>
    <p>
      <%= @address.value %>
    </p>
    <p>
      <%= @address.postcode %>
    </p>
    <p>
      <%= @address.city %>
    </p>
  <% end %>
  <!-- rectangle left (hdouble) -->

  <!-- square top right -->
  <% if find_emails(@deputy).empty? %>
    <div class="tartan-element">
      <h3>
        <i class="fa fa-at"></i>
      </h3>
    </div>
  <% else %>
    <%= mail_to find_emails(@deputy).first, class: 'tartan-element bg-light-blue' do %>
      <h3>
        <i class="fa fa-at"></i>
      </h3>
    <% end %>
  <% end %>
  <!-- square top right -->

  <!-- square bottom right -->
  <% if find_emails(@deputy).count <= 1 %>
    <div class="tartan-element">
      <h3>
        <i class="fa fa-at"></i>
      </h3>
    </div>
  <% else %>
    <%= mail_to find_emails(@deputy)[1], class: 'tartan-element bg-gray' do %>
      <h3>
        <i class="fa fa-at"></i>
      </h3>
    <% end %>
  <% end %>
  <!-- square bottom right -->

</div>
