<!-- id -->
<div class="col-xs-12 col-sm-4 tartan-col">
  <div class="tartan-container">

    <%= render 'shared/deputy_modal/deputy_id' %>

  </div>
</div>
<!-- id -->

<!-- nav -->
<div class="col-xs-12 col-sm-4 tartan-col">
  <div class="tartan-container">

    <%= render 'shared/deputy_modal/deputy_nav' %>

  </div>
</div>
<!-- nav -->

<!-- external info -->
<div class="col-xs-12 col-sm-4 tartan-col">
  <div class="tartan-container">

    <%= render 'shared/deputy_modal/deputy_ext_info' %>

  </div>
</div>
<!-- external info -->

<!-- personal info -->
<div class="col-xs-12 col-sm-4 tartan-col">
  <div class="tartan-container">

    <%= render 'shared/deputy_modal/deputy_pers_info' %>

  </div>
</div>
<!-- personal info -->

<!-- Mandate -->
<div class="col-xs-12 col-sm-4 tartan-col">
  <div class="tartan-container">

    <%= render 'shared/deputy_modal/deputy_mandate' %>

  </div>
</div>
<!-- Mandate -->

<!-- Contact -->
<div class="col-xs-12 col-sm-4 tartan-col">
  <div class="tartan-container">

    <%= render 'shared/deputy_modal/deputy_contact' %>

  </div>
</div>
<!-- Contact -->
