<div class="fixed-bg" style="background-image: url(<%= image_url('columns_AN') %>)"></div> <!-- Background picture for the page -->
<div class="banner">
  <div class="banner-content cover-position">
    <h1 class="text-center">
      AN Project
      <div class="flag-border"></div>
    </h1>
    <div class="banner-menu hidden">
      <%= link_to t('.browse', default: 'Browse'), deputy_path(@deputy), class: "btn btn-primary btn-lg banner-menu-item" %>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= link_to t('.admin', default: 'Admin'), admin_root_path, class: "btn btn-success btn-lg banner-menu-item" %>
        <% end %>
        <%= link_to t('.logout', default: 'Log out'), destroy_user_session_path, method: :delete, class: "btn btn-warning btn-lg banner-menu-item" %>
      <% else %>
        <%= link_to t('.login', default: 'Login'), new_user_session_path, class: "btn btn-success btn-lg banner-menu-item" %>
      <% end %>
    </div>
    <div class="padded hidden-xs">

      <%= render 'shared/deputies_search_links' %>

    </div>
  </div>
</div>
